<!doctype html>
<title>{% block title %}{% endblock %} - REST</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="module" src="https://unpkg.com/@material/mwc-icon@^0.3.0/mwc-icon.js?module"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<nav>
	<h1>REST</h1>
	<ul>
		<li><a href="{{ url_for('api.create') }}">Create</a></li>
		<li><a href="{{ url_for('api.read') }}">Read</a></li>
	</ul>
</nav>
<section class="content">
	<header>
		{% block header %}{% endblock %}
	</header>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %}
	{% block content %}{% endblock %}
</section>