div {
  width: 100%;
}

.time {
  background: url(images/PIXNIO-302496-4924x3283.jfif) green;
}

.bg-04 {
  background: rgba(0,0,0,0.4);
}

.bg-06 {
  background: rgba(0,0,0,0.6);
}

.acrylic-8 {
  position: relative;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.acrylic-10 {
  position: relative;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.month {
  display: flex;
  flex-direction: column;
}
.month-name {
  text-align: center;
}
.week {
  display: flex;
  border: bottom 1px solid black;
  height: 40%;
  max-height: 300px;
}
.day {
  border: 1px solid black;
  margin: 4px;
  height: 120px;
  color:aliceblue;
}


