{% extends 'base.html' %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='calendar.css') }}">
<h1>{% block title %}Time Calendar{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="time">
<div class="month-name"> {{ month_name }}</div>
<div class="month">
    {% for week in month %}
    <div class="week">
        {% for date in week %}
        {% if date.month == month_num %}
        <div class="day acrylic-8 bg-04">
        {% else %}
        <div class="day acrylic-8 bg-06">
        {% endif %}
            <div>{{ date.strftime("%A") }}</div>
            <div>{{ date.day }}</div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
</div>
{% endblock %}